<div class="modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button class="right btn btn-default btn-sm btn-round"
                        ng-click="$modal.dismiss()">
                    <span class="fa fa-close"></span>
                </button>
                <h4 class="modal-title">Change Address</h4>
            </div>

            <div class="modal-body oh">
                <div class="fl fifty pr1">
                    <div class="label">Name</div>
                    <input ng-model="address.name" class="w100 mb1"/>
                    <div class="label">Phone</div>
                    <input ng-model="address.phone" class="w100 mb1"/>

                    <div class="label" ng-class="{'err': address.street.length > 30}">
                        Address 1
                        <span class="fr len-counter">({{address.street.length}}/30)</span>
                    </div>
                    <input ng-model="address.street" class="w100 mb1" ng-class="{'err': address.street.length > 30}"/>

                    <div class="label" ng-class="{'err': address.address1.length > 30}">
                        Address 2
                        <span class="fr len-counter">({{address.address1.length}}/30)</span>
                    </div>
                    <input ng-model="address.address1" class="w100 mb1"
                           ng-class="{'err': address.address1.length > 30}"/>

                    <div class="label" ng-class="{'err': address.address2.length > 30}">
                        Address 3
                        <span class="fr len-counter">({{address.address2.length}}/30)</span>
                    </div>
                    <input ng-model="address.address2" class="w100 mb1"
                           ng-class="{'err': address.address2.length > 30}"/>

                    <div class="oh">
                        <div class="fl fifty pr1">
                            <div class="label">City</div>
                            <input ng-model="address.city.cityName" class="w100 mb1"/>
                        </div>
                        <div class="fl fifty">
                            <div class="label">State</div>
                            <select ng-model="address.state" class="w100 mb1"
                                    ng-options="state for state in countries[address.country]"></select>
                            <!--<input ng-model="address.state" class="w100 mb1"/>-->
                        </div>
                    </div>
                    <div class="oh">
                        <div class="fl fifty pr1">
                            <div class="label">Country</div>
                            <select class="w100 mb1" ng-model="address.country"
                                    ng-options="country as country for (country, states) in countries">
                            </select>
                            <!--<input ng-model="address.country" class="w100 mb1"/>-->
                        </div>
                        <div class="fl fifty">
                            <div class="label">Postal Code</div>
                            <input ng-model="address.postalCode" class="w100 mb1"/>
                        </div>
                    </div>
                </div>
                <div class="fl fifty">
                    <ul class="list">
                        <li class="list-item" ng-repeat="address in addresses">
                            <h6>{{ address.name }}</h6>
                            {{ address.street }}, {{ address.address1 }}, {{ address.address2 }} <br/>
                            {{ address.city.cityName }}, {{ address.state }}, {{ address.country }} <br/>
                            {{ address.postalCode }}
                            <a href="" class="btn" ng-click="ctrl.useThis(address)">Use this</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="modal-footer">
                <div style="float: left">
                    <input type="checkbox" ng-model="address.updateAllAddress"/> Update addresses of all unfulfilled
                    deliveries
                </div>
                <button type="button"
                        class="btn btn-default"
                        ng-click="ctrl.save()">Save
                </button>
                <button type="button"
                        class="btn btn-default"
                        ng-click="ctrl.clickClose()">Close
                </button>
            </div>

        </div>
    </div>
</div>
<div class="modal-backdrop" ng-click="$modal.dismiss()"></div>
