/*
  JSPM doesn't have a Stylus plugin yet and it's LESS plugin
  doesn't support @imports yet, so we're going to use straight css.
  Here's our color palate:

  primaryColor = #0277BD
  accentColor = #1DE9B6
  bgColor = #EFEFEF
  darkBgColor = #263238
  lightBgColor = #37474F
  lightTextColor = #F5F5F5
  darkTextColor = #212121
*/

.home {

}

.btc-order-editor select {
    color: white;
}

.btc-order-editor tbody {
    border-bottom: 1px solid #656565;
}

.btc-order-editor .label {
    color: #10b3c6;
    background: rgba(0, 0, 0, 0);
    font-weight: bold;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

.btc-order-editor td {
    vertical-align: top;
}

div.label + .button {
    margin-top: 0;
}

.static-info {
    display: none;
}

.order--fulfilled .static-info {
    display: block;
}

.order--fulfilled select, .order--fulfilled datepicker, .order--fulfilled button, .order--fulfilled .fulfilled-hidden {
    display: none;
}

.account-page {
    background-attachment: fixed;
}

/* calendar */
datepicker input {
    border: 1px solid white !important;
    background-color: transparent !important;
    color: white;
}

._720kb-datepicker-calendar._720kb-datepicker-open {
    background-color: black;
    border: 1px solid white;
}

a._720kb-datepicker-calendar-day {
    color: #ffffff !important;
}

a._720kb-datepicker-calendar-day._720kb-datepicker-disabled {
    color: #656565 !important;
}

._720kb-datepicker-calendar-header:nth-child(odd) {
    background: #0fb1c4;
}

._720kb-datepicker-calendar {
    border-radius: 0px;
    margin-left: 0;
    width: 100%;
}

._720kb-datepicker-calendar-day:hover, ._720kb-datepicker-calendar-day._720kb-datepicker-active {
    background: rgb(15, 177, 196);
}

.order_ordinal {
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    background: white;
    width: 40px;
    height: 2em;
    color: black;
    font-weight: bold;
}

.order_ordinal + div {
    margin-top: 2em;
}

html body .btc-order-editor textarea {
    background-color: rgba(0, 0, 0, 0.5) !important;
    color: white;
    /*border: 1px solid white;*/
    font-size: 1.1em;
}

.btc-order-editor {
    /*margin-left: -30px;*/
}

.grid {
    margin-top: 4em;
}

html body #subs_editor #app-container .app .btc-order-editor .btn-update-freq {
    float: right;
    width: 60%;
    min-width: 100px;
    padding: 0;
    border-right: 0px;
    background-color: #10b3c6;
    color: white;
    border-color: #10b3c6;
}

html body #subs_editor #app-container .app .btc-order-editor .btn-pause-resume {
    float: right;
    width: 40%;
    min-width: 100px;
    border-color: #10b3c6;
}

.tag-paused {
    border-radius: 1em;
    background-color: #10B3C6;
    color: black;
    padding: 0 0.5em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: monospace;
}

/** select updating **/
.select-update-wrapper {
    overflow: hidden;
}

.select-update-wrapper select {
    float: left;
    width: 99%;
    display: block;
    position: relative;
    min-width: 60%;
    transition: all 0.3s ease 0s;
}

.select-update-wrapper button {
    float: left;
    margin: 0;
    border-left: 0;
    min-width: 0% !important;
    border-radius: 0 !important;
    width: 1%;
    padding: 0;
    color: transparent !important;
    border-color: transparent !important;
    background: transparent !important;
}

.select-update-wrapper select.ng-dirty {
    width: 70% !important;
    transition: all 0.3s ease 0s;
}

.select-update-wrapper select.ng-dirty + button {
    color: white !important;
    border-color: white !important;
    background: #0fa5b6 !important;
    width: 30% !important;
}
