/*
  JSPM doesn't have a Stylus plugin yet and it's LESS plugin
  doesn't support @imports yet, so we're going to use straight css.
  Here's our color palate:

  primaryColor = #0277BD
  accentColor = #1DE9B6
  bgColor = #EFEFEF
  darkBgColor = #263238
  lightBgColor = #37474F
  lightTextColor = #F5F5F5
  darkTextColor = #212121
*/

.home {

}

.btc-order-editor select {
    color: white;
}

.btc-order-editor tbody {
    border-bottom: 1px solid #656565;
}

.btc-order-editor .label {
    color: #10b3c6;
    background: rgba(0, 0, 0, 0);
    font-weight: bold;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

.btc-order-editor td {
    vertical-align: top;
}

div.label + .button {
    margin-top: 0;
}

.static-info {
    display: none;
}

.order--fulfilled .static-info {
    display: block;
}

.order--fulfilled select {
    display: none;
}

.account-page {
    background-attachment: fixed;
}

/* calendar */
datepicker input {
    border: 1px solid white !important;
    background-color: transparent !important;
    color: white;
}

._720kb-datepicker-calendar._720kb-datepicker-open {
    background-color: black;
    border: 1px solid white;
}

a._720kb-datepicker-calendar-day {
    color: #ffffff !important;
}

a._720kb-datepicker-calendar-day._720kb-datepicker-disabled {
    color: #656565 !important;
}

._720kb-datepicker-calendar-header:nth-child(odd) {
    background: #0fb1c4;
}

._720kb-datepicker-calendar {
    border-radius: 0px;
    margin-left: 0;
    width: 100%;
}

.order_ordinal {
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    background: white;
    width: 40px;
    height: 2em;
    color: black;
    font-weight: bold;
}

.order_ordinal + div {
    margin-top: 2em;
}
